@function generate-spacing-classes($prefix, $sizes: $spacing-sizes) {
    $classes: ();

    @each $size,
    $value in $sizes {
        $class-name: "#{$prefix}-#{$size}";
        $class: (margin: $value,
            padding: $value );

        $classes: map-merge($classes, ($class-name: $class));
    }

    @return $classes;
}

$spacing-classes: generate-spacing-classes('space');

@each $class-name,
$class-properties in $spacing-classes {
    .#{$class-name} {

        @each $property,
        $value in $class-properties {
            #{$property}: $value;
        }
    }
}

@function generate-grid-cols($prefix, $columns) {
    $classes: ();

    @for $i from 1 through $columns {
        $class-name: "#{$prefix}-#{$i}";
        $class: (grid-template-columns: repeat($i, 1fr));

        $classes: map-merge($classes, ($class-name: $class));
    }

    @return $classes;
}

$grid-classes: generate-grid-cols('grid-cols', 12);

@each $class-name, $class-properties in $grid-classes {
    .#{$class-name} {

        @each $property,
        $value in $class-properties {
            #{$property}: $value;
        }
    }
}