@mixin line(){
    border-bottom: 4px solid red;
}

@mixin btn($color){
    min-width: 120px;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: $color;
    color: darken($color, 30%);
    border-color: darken($color, 30%);
    cursor: pointer;
    &:hover {
        background: darken($color, 10%);
    }
}

@mixin reset-list(){
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin horizontal-list() {
    @include reset-list();
    li {
        display: inline-block;
    }
}
