$primary-color: #ef5656;
$header-font: Bitter, serif;
$text-font: 'Open Sans', sans-serif;

$accent-color: #56efc4;

$spacing-sizes: (
  'xs': .5rem,
  'sm': 1rem,
  'md': 1.5rem,
  'lg': 2rem,
  'xl': 2.5rem,
  'xxl': 3.5rem,
  'xxxl': 4.5rem,
  'xx34xl': 4.5rem,
  'xxxel': 4.5rem,
  'xxxtl': 4.5rem,
  'xxrxl': 4.5rem,
  'xxxrl': 4.5rem,
  'xxxgl': 4.5rem,
);