@import "variables";

* {
  box-sizing: border-box;
}
body {
  font-family: $text-font;
  color: $text-color;
}
.container {
  padding: 0 .5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-template-areas: 
    "logo nav"
    "sujet sujet"
    "content content"
    "partners partners";
  
  .logo {
    grid-area: logo;
    place-self: center left;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

  }
  
  .navigation {
    place-self: center right;
    grid-area: nav;
    align-self: self-end;
    ul {
      display: none;
      li a {
        text-decoration: none;
        color: $text-color;

        &:hover {
          color: darken($text-color, 30%);
        }
      }
    }
    .menu {
      img {
        max-width: 64px;
        height: auto;
        vertical-align: middle;
        padding: 1rem;
      }
    }
  }
  .btn {
    padding: .5em 1em;
    border: 1px solid $text-color;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
    &.light {
      color: $text-color;
      background-color: white;
    }
    &.dark {
      color: white;
      background-color: black;
      border: 1px solid black;
    }

  }
  .actions {
    grid-area: actions;
    display: none;
  }

  .content {
    grid-area: content;
    h1 {
      font-family: $header-font;
      color: darken($color: $text-color, $amount: 80%);
    }
  }

  .sujet {
    grid-area: sujet;
    place-self: center center;
    padding: 1rem 2rem;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

  }

  .partners {
    grid-area: partners;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      display: grid;
      gap: 1rem 2rem;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
        "forbes techcrunch techcrunch wired wired cnn"
        "bbc cbs fastcompany fastcompany huffpost huffpost";

      li {
        place-self: center start;
        &.partner-item-1 {
          grid-area: forbes;
        }
        &.partner-item-2 {
          grid-area: techcrunch;
        }
        &.partner-item-3 {
          grid-area: wired;
        }
        &.partner-item-4 {
          grid-area: cnn;
        }
        &.partner-item-5 {
          grid-area: bbc;
        }
        &.partner-item-6 {
          grid-area: cbs;
        }
        &.partner-item-7 {
          grid-area: fastcompany;
        }
        &.partner-item-8 {
          grid-area: huffpost;
        }
  
        img {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          opacity: 0.7;
        }
  
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 980px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
      "logo nav nav nav actions actions"
      "content content content sujet sujet sujet"
      "partners partners partners sujet sujet sujet";

      .navigation {
        place-self: center start;
        ul {
          display: flex;
          gap: 2rem;
          list-style-type: none;
          padding: 0;
        }
        .menu {
          display: none;
        }
      }
      .actions {
        display: block;
        place-self: center end;
      }
      .sujet {
        padding: 4rem;
      }
      .content {
        padding-top: 4rem;
      }
      .partners {
        ul {
          gap: 2rem 3rem;
        }
      }
  }
}
