* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #666;
}

.container {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-template-areas: "logo nav" "sujet sujet" "content content" "partners partners";
}
.container .logo {
  grid-area: logo;
  place-self: center left;
}
.container .logo img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.container .navigation {
  place-self: center right;
  grid-area: nav;
  align-self: self-end;
}
.container .navigation ul {
  display: none;
}
.container .navigation ul li a {
  text-decoration: none;
  color: #666;
}
.container .navigation ul li a:hover {
  color: #1a1a1a;
}
.container .navigation .menu img {
  max-width: 64px;
  height: auto;
  vertical-align: middle;
  padding: 1rem;
}
.container .btn {
  padding: 0.5em 1em;
  border: 1px solid #666;
  border-radius: 5px;
}
.container .btn:hover {
  cursor: pointer;
}
.container .btn.light {
  color: #666;
  background-color: white;
}
.container .btn.dark {
  color: white;
  background-color: black;
}
.container .actions {
  grid-area: actions;
  display: none;
}
.container .content {
  grid-area: content;
}
.container .content h1 {
  font-family: Bitter, serif;
  color: black;
}
.container .sujet {
  grid-area: sujet;
  place-self: center center;
  padding: 1rem 2rem;
}
.container .sujet img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.container .partners {
  grid-area: partners;
}
.container .partners ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "forbes techcrunch techcrunch wired wired cnn" "bbc cbs fastcompany fastcompany huffpost huffpost";
}
.container .partners ul li {
  place-self: center start;
}
.container .partners ul li.partner-item-1 {
  grid-area: forbes;
}
.container .partners ul li.partner-item-2 {
  grid-area: techcrunch;
}
.container .partners ul li.partner-item-3 {
  grid-area: wired;
}
.container .partners ul li.partner-item-4 {
  grid-area: cnn;
}
.container .partners ul li.partner-item-5 {
  grid-area: bbc;
}
.container .partners ul li.partner-item-6 {
  grid-area: cbs;
}
.container .partners ul li.partner-item-7 {
  grid-area: fastcompany;
}
.container .partners ul li.partner-item-8 {
  grid-area: huffpost;
}
.container .partners ul li img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  opacity: 0.7;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 980px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "logo nav nav nav actions actions" "content content content sujet sujet sujet" "partners partners partners sujet sujet sujet";
  }
  .container .navigation {
    place-self: center start;
  }
  .container .navigation ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
  }
  .container .navigation .menu {
    display: none;
  }
  .container .actions {
    display: block;
    place-self: center end;
  }
  .container .sujet {
    padding: 4rem;
  }
  .container .content {
    padding-top: 4rem;
  }
  .container .partners ul {
    gap: 2rem 3rem;
  }
}/*# sourceMappingURL=main.css.map */