* {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-template-areas: 
    "logo nav"
    "sujet sujet"
    "content content"
    "partners partners";
  
  .logo {
    grid-area: logo;
    place-self: center left;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

  }
  
  .navigation {
    place-self: center right;
    grid-area: nav;
    align-self: self-end;
    ul {
      display: none;
    }
    .menu {
      img {
        max-width: 64px;
        height: auto;
        vertical-align: middle;
      }
    }
  }

  .actions {
    grid-area: actions;
    display: none;
  }

  .content {
    grid-area: content;
  }

  .sujet {
    grid-area: sujet;
    place-self: center center;
  }

  .partners {
    grid-area: partners;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      display: grid;
      gap: 1rem 2rem;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
        "forbes techcrunch techcrunch wired wired cnn"
        "bbc cbs fastcompany fastcompany huffpost huffpost";

      li {
        place-self: center start;
        &.partner-item-1 {
          grid-area: forbes;
        }
        &.partner-item-2 {
          grid-area: techcrunch;
        }
        &.partner-item-3 {
          grid-area: wired;
        }
        &.partner-item-4 {
          grid-area: cnn;
        }
        &.partner-item-5 {
          grid-area: bbc;
        }
        &.partner-item-6 {
          grid-area: cbs;
        }
        &.partner-item-7 {
          grid-area: fastcompany;
        }
        &.partner-item-8 {
          grid-area: huffpost;
        }
  
        img {
          // object-fit: cover;
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          opacity: 0.7;
        }
  
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
      "logo nav nav nav nav actions"
      "content content content sujet sujet sujet"
      "partners partners partners sujet sujet sujet";

      .navigation {
        place-self: center start;
        ul {
          display: flex;
          gap: 2rem;
          list-style-type: none;
          padding: 0;
          li {
          }
        }
        .menu {
          display: none;
        }
      }
      .actions {
        display: block;
        place-self: center start;
      }
      .partners {
        ul {
          gap: 2rem 3rem;
        }
      }
  }
}
